@model RoleToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<br />
<br />
<div>
    <partial name="_RolePartialView/DetailsDeletePartialView" />

    <div>
         <a asp-action="Edit" asp-controller="Role"  class="btn btn-success">Edit</a>  @*// Error *@
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
</div>

