@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<br /> 
<br />

 
    <div>
        <div class="my-3">
            <label asp-for="Code" class="col-form-label"> </label>
            <input asp-for="@Model.Code" class="form-control" readonly></input>
        </div>

        <div class="my-3">
            <label asp-for="Name" class="col-form-label"> </label>
            <input asp-for="@Model.Name" class="form-control" readonly></input>
        </div>

        <div class="my-3">
            <label asp-for="CreateAt" class="col-form-label"> </label>
            <input asp-for="@Model.CreateAt" class="form-control" readonly></input>
        </div>

    </div>
   

 
<br />
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>

