@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<br /> 
<br />

@if(Model != null)
{
    <div>
        <div class="my-3">
            <label asp-for="Code" class="col-form-label"> </label>
            <input readonly asp-for="@Model.Code" class="form-control"></input>
        </div>

        <div class="my-3">
            <label asp-for="Name" class="col-form-label"> </label>
            <input readonly asp-for="@Model.Name" class="form-control"></input>
        </div>

        <div class="my-3">
            <label asp-for="CreateAt" class="col-form-label"> </label>
            <input readonly asp-for="@Model.CreateAt" class="form-control"></input>
        </div>

    </div>
   

}else
{
    <div class="alert alert-warning">
        <h4> The Dedpartment Not Found :(</h4>
    </div>
}
<br />
<br />

<div>
    <a asp-action="Edit" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back To List</a>
</div>

